<div class="card card-inverse small">
  <div class="card-header">
    <div class="card-title">
      <pre class="card-text">component: &lt;app-wa-media-element-audio-source-node&gt;</pre>
    </div>
    {{url}}
  </div>
  <div class="card-block">
    <audio controls #audio >
      <source #src [src]="url">
    </audio>
  </div>
</div>

