<div class="card card-inverse small">
  <div class="card-header">
    <div class="card-title">
      <pre class="card-text">component: &lt;url-audio-buffer&gt;</pre>
    </div>
  </div>
  <div class="card-block">
    <table class="table table-condensed table-bordered">
      <thead>
      <tr>
        <td>Url</td>
        <td>Sample Rate</td>
        <td>Channels</td>
        <td>Duration</td>
        <td style="text-align: right">Status</td>

      </tr>
      </thead>
      <tr>
        <td>{{inputBuffer.url}}</td>
        <td>{{ inputBuffer.buffer ? inputBuffer.buffer.sampleRate : '-'}}</td>
        <td>{{ inputBuffer.buffer ? inputBuffer.buffer.numberOfChannels : '-'}}</td>
        <td>{{ inputBuffer.buffer ? ((inputBuffer.buffer.duration | number:'1.2-2') + 's') : '-'}}</td>
        <td style="text-align: right">{{inputBuffer.state}}</td>
      </tr>
    </table>
    <button class="btn btn-outline-secondary" (click)="Play()">Play</button>

  </div>
</div>
