<div class="card card-inverse small">
  <div class="card-header">
    <div class="card-title">
      <pre class="card-text">component: &lt;wa-analyser-node&gt;</pre>
    </div>
  </div>
  <div class="card-block">
    <canvas #fft_canvas style="width:100%; height: 200px"></canvas>
  </div>
</div>
