/*h1 {*/
  /*color: #369;*/
  /*font-family: Arial, Helvetica, sans-serif;*/
  /*font-size: 250%;*/
/*}*/
/*div {*/
  /*background-color:#3a3a3a;*/

/*}*/
/*div.card-inverse {*/
  /*background-color:#3a3a3a;*/
/*}*/
