<div class="card card-inverse small">
  <div class="card-header">
    <div class="card-title">
      <pre class="card-text">component: &lt;audio-recorder&gt;</pre>
    </div>
   </div>
  <div class="card-block">
    <table class="table table-condensed table-bordered">
      <thead>
      <tr>
        <td>Url</td>
        <td>Sample Rate</td>
        <td>Channels</td>
        <td>Duration</td>
        <td style="text-align: right">Status</td>

      </tr>
      </thead>
      <tr>
        <td>{{outputBuffer.url}}</td>
        <td>{{ outputBuffer.buffer ? outputBuffer.buffer.sampleRate : '-'}}</td>
        <td>{{ outputBuffer.buffer ? outputBuffer.buffer.numberOfChannels : '-'}}</td>
        <td>{{ outputBuffer.buffer ? ((outputBuffer.buffer.duration | number:'1.2-2') + 's') : '-'}}</td>
        <td style="text-align: right">{{outputBuffer.state}}</td>
      </tr>
    </table>
    <button class="btn btn-outline-secondary" (click)="record()">Record</button>
    <button class="btn btn-outline-danger" (click)="stop()">Stop</button>

  </div>
</div>
